<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smart fashion</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
                    <div class="second">
                   
                    <form>
                        <fieldset>
                            <legend>LOGIN</legend><br><br>
                        <input type="email" class="input-box" placeholder="Your Email Id" required><br><br><br>
                        <input type="Password" class="input-box" placeholder="Password" required>
                        <button type="submit" class="submit-btn" ><a href="/html/home.html">submit</a></button><br>
                        <input type="checkbox"><span>Remember Me</span>
                        </fieldset>
                    </form>
                    Not a member?<a href="/templates/register.html"> Register here</a><br><br>
                     <a href="">Forgot Password</a>
                     </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
</body>
</html>